html, body {
    margin: 0;
    padding: 0;
    background: rgb(30, 30, 30);
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgb(80, 80, 80) solid 2px;
    margin: 0 50px 0 50px
}

header a {
    text-decoration: none;
    color: rgb(180, 180, 180);
    font-size: 14px;
    transition: all 5ms;
}

header h1 {
    color: rgb(200, 200, 200);
    font-size: 22px;
}

header button {
    background: rgb(40, 40, 40);
    color: rgb(180, 180, 180);
    border-color: rgb(160, 160, 160);
    border-radius: 5px;
    padding: 2px 12px 2px 12px;
    transition: all 5ms;
    font-size: 12px;
}

header a:hover, header button:hover {
    transform: scale(1.015);
    color: rgb(200, 200, 200);
    border-color: rgb(180, 180, 180);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 50px;
    padding: 5px 0 5px 0;
}

nav a {
    text-decoration: none;
    color: rgb(180, 180, 180);
    font-size: 13px;
    transition: all 5ms;
}

nav a:hover {
    text-decoration: none;
    color: rgb(200, 200, 200);
    transform: scale(1.015);
}

.text-dec-none {
    text-decoration: none;
}

.featured-box {
    background: rgb(39, 53, 65);
    border-radius: 8px;
    color: rgb(180, 180, 180);
    margin: 0 50px 0 50px;
    height: 80px;
    padding: 5px 10px 5px 10px;
    display: grid;
    grid-template-rows: 26% 40% 33% 1%;
    transition: all 1s;
}

.featured-box h2, .featured-box p{
    margin: 0;
}

.featured-box h2 {
    grid-row: 2;
}

.featured-box p {
    grid-row: 3;
}

.featured-box:hover {
    transform: scale(1.02);
}

.featured-box:hover h2{
    color: rgb(190, 190, 190);
}

.titlecard-section {
    margin: 30px 50px 30px 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.titlecard {
    background: rgb(39, 65, 53);
    width: 400px;
    height: 170px;
    margin: 0 30px 0 30px;
    border-radius: 10px;
    transition: all 1s;
    display: grid;
    grid-template-columns: 60% 40%;
}

.titlecard p, .titlecard h2 {
    margin: 5px;
}

.titlecard p {
    color: rgb(160, 160, 160);
}

.titlecard h2 {
    color: rgb(180, 180, 180);
}

.titlecard-text {
    grid-column: 1;
    padding: 10px;
    display: flex;
    flex-flow: column;
}

.titlecard img {
    grid-column: 2;
    height: inherit;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 70%;
}


.titlecard:hover {
    transform: scale(1.02);
}

.titlecard:hover img, .titlecard:hover h2 {
    opacity: 100%;
    color: rgb(190, 190, 190);
}

.sample-blog {
    margin: 0 50px 0 50px;
    display: grid;
    grid-template-columns: 70% 30%;
    color: rgb(180, 180, 180);
}


.blog-title {
    border-bottom: 2px solid rgb(80, 80, 80);
    font-size: 14px;
    padding: 0 0 8px 0;
}

.blog h2 {
    margin: 20px 0 5px 0;
    font-size: 20px;
}

.vo {
    margin: 0 0 0 40px;
}

.blog p {
    font-size: 14px;
}

.date {
    margin: 0 0 15px 0;
    font-size: 12px;
}

.bot-bor {
    border-bottom: 2px solid rgb(80, 80, 80);
}

.spacer {
    margin: 30px 0 30px 0;
}

aside {
    position: sticky;
    top: 0;
    height: 200px;
}

.about {
    margin: 0 20px 0 20px;
    background: orangered;
    width: calc(100% - 30px);
    height: 100px;
    border-radius: 8px;
    color: rgb(40, 40, 40);
    padding: 10px;
}

.about h2, .about p {
    margin: 0;
}

.archive {
    margin: 0 0 0 20px;
}

.archive a {
    color: orangered;
    text-decoration: none;
}

footer {
    background: rgb(20, 20, 20);
    color: rgb(180, 180, 180);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

footer a {
    text-decoration: none;
    color: rgb(180, 180, 180);
}
